@import url(../fonts/style.css);

#product {
    height: 3503px;
    background: url(../img/product_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    p {
        font-family: 'Proxima Nova Rg';
        font-weight: 400;
        font-size: 28px;
        line-height: 108%;
        color: #00358F;
        text-align: center;
        margin-top: 45px;
    }
    .rouge, .clipse, .rose, .bleue {
        width: 341px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        h2 {
            font-family: 'Hurme Geometric Sans';
            font-weight: 400;
            font-size: 60px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 16px;
            padding: 0;
        }
        p {
            font-family: 'Proxima Nova Rg';
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            color: #00358F;
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }
    .rouge {
        margin-top: 577px;
        h2 {
            color: #2D2926;
        }
    }
    .clipse {
        margin-top: 669px;
        h2 {
            color: #DA1984;
        }
    }
    .rose {
        margin-top: 807px;
        h2 {
            color: #AE0255;
        }
    }
    .bleue {
        margin-top: 666px;
        h2 {
            color: #00358F;
        }
    }
    button {
        width: 312px;
        height: 62px;
        border: none;
        border-radius: 100px;
        background-color: #FFFFFF;
        font-family: 'Proxima Nova Rg';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #00358F;
        text-transform: uppercase;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
}