#feedback {
    .exit {
        width: 197px;
        height: 62px;
        border: none;
        border-radius: 100px;
        background-color: #3A8DDE;
        font-family: 'Proxima Nova Rg';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        bottom: 38px;
        left: 50%;
        transform: translateX(-50%);
    }
    h1 {
        font-family: 'Proxima Nova Rg';
        font-weight: 400;
        font-size: 28x;
        line-height: 120%;
        text-align: center;
        color: #3A8DDE;
        margin-top: 254px;
    }
    h2 {
        font-family: 'Proxima Nova Rg';
        font-weight: 400;
        font-size: 26px;
        line-height: 52px;
        text-align: center;
        color: #00358F;
        padding: 0;
        margin-top: 35px;
        margin-bottom: 0;
    }
    p {
        font-family: 'Proxima Nova Lt';
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #3A8DDE;
        opacity: 0.64;
        margin: 0;
        padding: 0;
        margin-top: -8px;
    }
    form {
        width: 340px;
        height: 436px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 65px;
        button {
            width: 222px;
            height: 62px;
            border: none;
            border-radius: 100px;
            background-color: #3A8DDE;
            font-family: 'Proxima Nova Rg';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .name, .email, .text {
            width: 100%;
            height: 44px;
            border-bottom: 1px solid rgba(58, 141, 222, 0.2);
            margin-bottom: 31px;
            img {
                width: 30px;
                height: 30px;
                margin-left: 2px;
                margin-top: -4px;
            }
            input, textarea {
                width: 297px;
                height: 24px;
                border: none;
                background: none;
                font-family: 'Proxima Nova Rg';
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #00358F;
                margin-top: 4px;
                margin-left: 11px;
                &::placeholder {
                    font-family: 'Proxima Nova Lt';
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 24px;
                    color: #00358F;
                    opacity: 0.4;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .text {
            height: auto;
            position: relative;
            margin-bottom: 0;
            img {
                position: absolute;
                left: 2px;
                right: auto;
                top: 5px;
                margin: 0;
            }
            textarea {
                max-height: calc(4 * 1.5em);
                overflow: hidden; 
                resize: none;
                margin-left: 43px;
            }
        }
    }
}